  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Harsh Pimpale : <i>"WebChat" </i> is a responsive web application built using Express.js, MongoDB, and Node.js. It enables real-time communication between users, allowing them to exchange messages and connect with friends seamlessly. With a robust backend and responsive design, WebChat offers a user-friendly experience for modern online chatting needs.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Made with 👇</h6>
          <ul class="footer-links">
            <li><a href="#">Node.Js</a></li>
            <li><a href="#">Express.js</a></li>
            <li><a href="#">Socket.IO</a></li>
            <li><a href="#">Custom-ID</a></li>
            <li><a href="#">Responsive Design</a></li>
            <li><a href="#">EJS</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Harsh</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
           <li><a class="linkedin" href="https://www.linkedin.com/in/harshpimpale/"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/Harsh212003"><i class="fa fa-twitter"></i></a></li>
            <li><a class="github" href="#"><i class="fa fa-github"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
<!-- <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script> -->
<!-- <script src="/js/script.js"></script> -->


</body>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script> -->
<script src="/js/script.js"></script>
</html>