<!-- <div class="chat-list">
    <a href="#" class="d-flex align-items-center fri-acc">
      <div class="flex-shrink-0">
        <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
        <span class="active"></span>
      </div>
      <div class="flex-grow-1 ms-3">
        <h3>Harsh Pimpale</h3>
        <p>Back End Developer</p>
      </div>
    </a>
    <a href="#" class="d-flex align-items-center fri-acc">
      <div class="flex-shrink-0">
        <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
        <span class="active"></span>
      </div>
      <div class="flex-grow-1 ms-3">
        <h3>Harsh Pimpale</h3>
        <p>ID : 123455</p>
      </div>
    </a>

    <a href="#" class="d-flex align-items-center fri-acc">
      <div class="flex-shrink-0">
        <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
        <span class="active"></span>
      </div>
      <div class="flex-grow-1 ms-3">
        <h3>Ryhan</h3>
        <p>front end developer</p>
      </div>
    </a>

  </div> -->