@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");

body {
  font-family: "Tektur", cursive !important;
  padding: 3rem 1rem !important;
}

input::placeholder {
  font-size: 15px !important;
  color: #d3d3d3 !important;
}